body {
    background-image: url("../images/background-3.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;

}

a, h2 {
    font-family: 'Graduate', cursive!important;
}

#body-content {
    min-height: 450px;
    margin-top: 1rem;
    background-color: rgba(183, 28, 28, .8);
    border-radius: 10px;
}

.btn {
    margin: 5px;
    width: 50%;
}

.btn:hover {
    color: black!important;
    background-color: white!important;
}

.form-validation {
    margin-bottom: 10px;
    color: #ef5350;
    margin: auto;
    border-radius: 5px;
    width: 50%;
    background-color: rgba(0, 0, 0, .6);
}

.container #body-content .col .fadeIn {
    animation-delay: 1s;
}

.container #body-content .col .tada {
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}