body {
    background-image: url("../images/background-3.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

#body-content {
    min-height: 450px;
    margin-top: 1rem;
    background-color: rgba(183, 28, 28, .6);
    border-radius: 10px;
}

.btn {
    margin: 5px;
    width: 50%;
}

.btn:hover {
    color: black!important;
    background-color: white!important;
}

/* Pulse animation to show dropzone is active */
.drop-pulse {
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(183,28,28, .6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(183,28,28, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(183,28,28, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(183,28,28, .6);
        box-shadow: 0 0 0 0 rgba(183,28,28, .6);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(183,28,28, 0);
        box-shadow: 0 0 0 20px rgba(183,28,28, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(183,28,28, 0);
        box-shadow: 0 0 0 0 rgba(183,28,28, 0);
    }
}
