body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.left-icon {
    padding-top: 25px;
}

.input-field {
    float: right;
}

.search-icon, .dropdown-content {
    position: absolute;
}


.search-icon {
    right: 5px;
}

.btn {
    margin: 5px;
    width: 100%;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    top: -90%;
    max-height: 275px;
    overflow: scroll;
}

.dropdown-container .dropdown-content a:hover {
    color: white!important;
}

.dropdown-trigger:hover, .dropdown-container .dropdown-content a:hover {
    background-color: black!important;
}

#body-content {
    width: 90%!important;
    min-height: 520px;
    margin-top: 1rem;
    background-color: #000000b3;
    border-radius: 10px;
}

#available-block {
    height: 400px;
    overflow: scroll;
}

.active-player {
    background-image: linear-gradient(to bottom right, red, black);
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 2px;
    max-width: 240px;
}

.active-player:hover {
    cursor: grab;
}

#salary-cap-box {
    font-size: 20px;
    margin-bottom: 20px;
}

.drop-pulse {
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

#points-box {
    font-size: 36px;
    margin-bottom: 150px;
}

#dropzone {
    border: solid green 3px;
    background-image: linear-gradient(to bottom right, red, black);
    height: 400px;
    width: 100%;
}

#salary-cap-box, #points-box {
display: inline-block;
color: darkorange;
background-color: black;}

.active-player, #salary-cap-box, #points-box, #dropzone {
    border: solid green 3px;
    padding: 4px;
}

.active-player, #salary-cap-box, #points-box, #dropzone, #search {
    border-radius: 5px;
}

#salary-cap-box {
    height: 34px;
    width: 135px;
}

#slider {
    width: 70%;
    margin-bottom: 20px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 0px;
    background: url("../images/money-emoji.png")
}